SECRET_KEY= <YOUR DATA>

DATABASES_NAME= <YOUR DATA>
DATABASES_PASSWORD= <YOUR DATA>

EMAIL_HOST_USER= <YOUR DATA>
EMAIL_HOST_PASSWORD= <YOUR DATA>

TWILIO_ACCOUNT_SID= <YOUR DATA>
TWILIO_AUTH_TOKEN= <YOUR DATA>

CLOUD_NAME= <YOUR DATA>
API_KEY= <YOUR DATA>
API_SECRET= <YOUR DATA>